<h1 class="mt-4">Productos Webserver</h1>

<div class="container">
    <div class="row" id="lista-productos"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="/js/main.js"></script>